body {
    height: auto;
    font-size: 14px;
    font-family: -apple-system-font,"Helvetica Neue",sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.41176471;
    -ms-text-size-adjust: 100%;
    text-align: left;
    color: #222;
}
h1, h2, h3, h4, h5, h6, p, strong, ul {
    padding: 0;
    margin: 0;
    font-style: normal;
    font-weight: 400;
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

}
div,section,header, article {
    display: block;
}
ul {
    padding-inline-start: 0;
}
.g-header, .g-header:after {
    position: absolute;
    left: 0;
    top: 0;
}
.g-header:after {
    content: " ";
    -webkit-transform: scale(.5);
    transform: scale(.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    pointer-events: none;
    width: 200%;
    bottom: 0;
    height: 200%;
    border-bottom: 1px solid #eaeaea;
}

.g-header {
    right: 0;
    width: 100%;
    z-index: 1000;
}
.g-header .m-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 10px;
    margin: 0 auto;
    height: 44px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
    background: #fff;
}
.g-header .m-header-hot {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.g-header .m-header img {
    display: block;
    width: 96px;
    height: 29px;
}
body img {
    width: 100%;
}
img {
    border: 0;
}

.main-cont {
    padding-top: 44px;
    padding-bottom: 50px;
    background: #f5f6f7;
}

.project-active {
    overflow: unset;
}
.project-active, .project-closed {
    display: none;
    overflow: unset;
}

.section {
    background: #fff;
    overflow: hidden;
    margin-bottom: 10px;
}
.g-box1 .m-top1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 12px 0;
    position: relative;
}
.g-box1 .m-top1 .u-name, .g-box1 .m-top1 .u-name .photo-name-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    width: 100%;
}
.box-ranking, .g-box1, .g-box2, .g-box3, .g-box4, .g-box5, .g-box6, .g-box7 {
    width: 92%;
    margin: 0 auto;
}
.g-box1 .m-top1 .u-name {
    font-size: 18px;
    color: #4a4a4a;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
}
.g-box1 .m-top1 .u-name .photo-name-box {
    -ms-flex: 1;
    flex: 1;
    padding-right: 80px;
}
.g-box1 .m-top1 .u-name, .g-box1 .m-top1 .u-name .photo-name-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    width: 100%;
}
.g-box1 .m-top1 .u-name img {
    width: 32px;
    height: 32px;
    margin-right: 10px;
    border-radius: 50%;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
.g-box1 .m-top1 .u-name span {
    font-size: 14px;
    overflow: hidden;
    color: #666;
    text-overflow: ellipsis;
    line-height: 1.4;
    white-space: nowrap;
    line-height: 32px;
}
.g-box1 .m-top1 .u-name .tags {
    margin-left: 5px;
    position: absolute;
    right: 5px;
    width: 62px;
    color: #fff;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    line-height: 18px;
    padding-top: 7px;
}
.g-box1 .m-top1 .u-name .tags .u-subMark {
    margin-bottom: 6px;
    float: right;
}
.g-box1 .m-top1 .u-subMark {
    background: #e5e5e5;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #666;
    text-align: center;
    margin-left: 5px;
    padding: 0 7px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 9px;
}

.g-box1+.g-box1 h1.fmargT {
    padding-top: 0;
    margin-top: -3px;
}
h1.fmargT {
    margin: 0;
    font-size: 24px;
    color: #333;
    word-break: break-all;
    font-weight: 700;
    width: 100%;
    line-height: 36px;
    padding-top: 12px;
    text-align: justify;
}
.g-box2 {
    padding-bottom: 15px;
    border-radius: 5px;
    position: relative;
    margin-top: 0;
}
.box-ranking, .g-box1, .g-box2, .g-box3, .g-box4, .g-box5, .g-box6, .g-box7 {
    width: 92%;
    margin: 0 auto;
}
.g-box2 .moneylist {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 15px auto 0;
    border-radius: 8px;
    padding: 8px 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    list-style: none;
    line-height: 25px;
}
.g-box2 .moneylist li {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: left;
}
.g-box2 .moneylist li span {
    display: block;
    color: #999;
    text-align: left;
    font-size: 13px;
    line-height: 19px;
    text-align: center;
}
.g-box2 .moneylist li strong {
    display: block;
    color: #333;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    line-height: 28px;
    margin-top: 7px;
    text-align: center;
}
.g-box2 .moneylist li span {
    display: block;
    color: #999;
    text-align: left;
    font-size: 13px;
    line-height: 19px;
    text-align: center;
}
.info_b {
    padding: 30px 4% 0;
    background: #fff;
    position: relative;
}
.info_b .m-txt {
    padding: 15px 0 45px;
    font-size: 16px;
    color: #666;
    line-height: 24px;
    position: relative;
}
.info_b .m-txt .u-txt.folded {
    max-height: 110px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}
.info_b .m-txt .u-more {
    display: none;
    position: absolute;
    bottom: 20px;
    width: 100%;
    margin: 20px auto 0;
    text-align: center;
    background-color: #fff;
    font-size: 14px;
    color: #43ac43;
    letter-spacing: .6px;
    line-height: 15px;
}
.info_b .m-txt .u-more:before {
    position: absolute;
    left: 0;
    right: 0;
    top: -35px;
    content: "";
    height: 35px;
    background-image: linear-gradient(-180deg,hsla(0,0%,100%,0),#fff);
    text-align: center;
}
.info_b .m-txt .u-more span {
    display: inline-block;
    line-height: 25px;
    border-radius: 13px;
    color: #666;
    padding: 0 10px;
    font-size: 14px;
}
.info_b .m-txt .u-more span:after {
    content: "";
    display: inline-block;
    margin-left: 8px;
    width: 8px;
    height: 8px;
    border-top: 1px solid #666;
    border-left: 1px solid #666;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    vertical-align: 2px;
}
.projectImg_b {
    padding: 18px 4% 0;
    background: #fff;
}
.projectImg_b .m-list ul {
    padding-bottom: 10px;
    overflow: hidden;
}
.clearfix:after, .clearfix:before {
    content: "";
    display: table;
}
.projectImg_b .m-list ul li {
    float: left;
    width: 23.6%;
    margin-right: 1.8%;
    margin-bottom: 1.8%;
}
li {
    list-style: none;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.projectImg_b .m-list ul li img {
    display: block;
    height: 23.925%;
    width: 100%;
    border-radius: 2px;
}
.sectionT {
    margin-top: 10px;
}
.g-box6 {
    padding-top: 30px;
    padding-bottom: 20px;
}

.info_b header,.box-ranking header, .g-box1 header, .g-box2 header, .g-box3 header, .g-box4 header, .g-box5 header, .g-box6 header, .g-box7 header {
    font-size: 21px;
    color: #333;
    line-height: 26px;
    font-weight: 700;
}
.g-box6 header .cgreen {
    float: none;
    font-size: 1.2em;
    text-decoration: none;
}

.g-box6 header span {
    color: #00b500;
    float: right;
    text-decoration: underline;
    font-weight: 400;
}
a, button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    outline: 0;
}

.g-box6 .zslist {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 19px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.g-box6 .zslist li {
    position: relative;
    z-index: 1;
}

.g-box6 .zslist li .go_more, .g-box6 .zslist li img {
    display: block;
    border-radius: 50%;
    width: 41px;
    height: 41px;
}
.g-box6 .zslist li .go_more {
    background: #f8f7f4;
    position: relative;
}
.g-box6 .zslist li .go_more, .g-box6 .zslist li img {
    display: block;
    border-radius: 50%;
    width: 41px;
    height: 41px;
}
.g-box6 .zslist li .go_more:before {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    border-right: 2px solid #00b500;
    border-top: 2px solid #00b500;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -10px;
    margin-top: -9px;
}
.g-box6 .m-say {
    padding-bottom: 20px;
    margin: 0 auto;
    background: #f8f7f4;
    border-radius: 8px;
    border-radius: 5px;
    margin-top: 15px;
    position: relative;
    padding: 15px;
    background: #f5f6f7;
    line-height: 20px;
}

.g-box6 .m-say .t1.active {
    display: -webkit-box;
    word-break: break-all;
    display: block;
}
.g-box6 .m-say .t1 {
    margin: 0 auto;
    padding: 0;
    color: #333;
    display: none;
}
.g-box6 .m-say .prove_content .prove_header {
    margin-bottom: 5px;
    width: 100%;
    line-height: 1;
}
.g-box6 .m-say .prove_content .prove_preson {
    font-size: 16px;
    font-weight: 400px;
    margin-right: 5px;
    color: #333;
}
.g-box6 .m-say .prove_content .prove_realname, .g-box6 .m-say .prove_content .prove_relationg {
    font-size: 12px;
    line-height: 16px;
    background: rgba(69,173,69,.1);
    color: #00b500;
    padding: 0 6px;
}
.g-box6 .m-say .prove_content .prove_realname {
    background: rgba(0,109,229,.1);
    color: #006de5;
}
.g-box6 .m-say .prove_content .prove_realname, .g-box6 .m-say .prove_content .prove_relationg {
    font-size: 12px;
    line-height: 16px;
    background: rgba(69,173,69,.1);
    color: #00b500;
    padding: 0 6px;
}
.g-box6 .m-say .J-prove-msg {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    width: 100%;
    display: -webkit-box;
    color: #999;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.u-content {
    padding: 0 10px 10px;
    background: #fff;
    margin-bottom: 10px;
    line-height: 25px;
}
.u-content .u-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 20px 0 5px;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    color: #d8d8d8;
    padding: 0 15px;
}
.u-content .u-icons .idg, .u-content .u-icons .tencent {
    -webkit-box-flex: 0;
    -ms-flex: 0;
    flex: 0;
    -ms-flex-preferred-size: unset;
    flex-basis: unset;
}
.u-content .u-icons span {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;
}
.u-content .u-tips {
    font-size: 13px;
    color: #999;
    text-align: center;
}
.u-content .u-icons .tencent {
    width: 93px;
    height: 13px;
    background: url(https://static2.qschou.com/img/v7/project/detail/sick/tencent_d0afa9cf.png) no-repeat;
    background-size: contain;
    background-position: 50%;
}
.u-content .u-icons .idg {
    width: 51px;
    height: 18px;
    background: url(https://static2.qschou.com/img/v7/project/detail/sick/IDG_85a8ec8b.png) no-repeat;
    background-size: contain;
    background-position: 0 2px;
    background-position: 50%;
}
.u-content .u-icons .dt {
    width: 88px;
    height: 28px;
    background: url(https://static2.qschou.com/img/v7/project/detail/sick/DT_1cc507ef.png) no-repeat;
    background-size: contain;
    -webkit-box-flex: 0;
    -ms-flex: 0;
    flex: 0;
    background-position: 50%;
    -ms-flex-preferred-size: unset;
    flex-basis: unset;
}
.u-content .u-icons span {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;
}
.g-box5 header {
    padding-bottom: 15px;
}
.g-box5 .subMark {
    float: right;
    width: 150px;
    text-align: right;
    position: relative;
    top: -2px;
}
.g-box5 .subMark a {
    color: #43ac43;
    text-decoration: underline;
    font-weight: 400;
}
.g-box5 .m-ziliao:first-of-type {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.m-ziliao {
    margin: 0 auto;
    background: #f8f7f4;
    padding: 0 14px 20px;
    line-height: 19px;
    font-size: 13px;
    position: relative;
}
.m-ziliao .style10 {
    color: #43ac43;
}
.m-ziliao .u-tit {
    margin: 0;
    padding-top: 20px;
    font-size: 14px;
    color: #666;
    line-height: 30px;
}
.g-box5 .subMark a {
    color: #43ac43;
    text-decoration: underline;
    font-weight: 400;
}
.g-box5 {
    padding: 20px 0;
}
.m-ziliao {
    margin: 0 auto;
    background: #f8f7f4;
    padding: 0 14px 20px;
    line-height: 19px;
    font-size: 13px;
    position: relative;
}
.m-ziliao .u-tit {
    padding-top: 20px;
    font-size: 14px;
    color: #666;
    line-height: 30px;
}
h6 {
    display: block;
    font-size: 0.67em;
    margin-block-start: 2.33em;
    margin-block-end: 2.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.m-ziliao .u-smal {
    font-size: 11px;
    color: #43ac43;
    line-height: 22px;
    margin: 0;
}

.m-ziliao .style10 .fright {
    display: inline-block;
    width: 11px;
    height: 11px;
    background: url('/image/icon/ys.jpeg');
    background-size: cover;
}
.m-ziliao .u-smal .fright {
    margin-right: 5px;
}
.m-ziliao {
    margin: 0 auto;
    background: #f8f7f4;
    padding: 0 14px 20px;
    line-height: 19px;
    font-size: 13px;
    position: relative;
}
.m-ziliao+.m-ziliao:before {
    content: "";
    border-bottom: 1px solid #efefef;
    display: block;
    margin: 0 14px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
}
.g-box5 .u-memo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 20px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
}
.g-box5 .u-memo .ibg1 {
    height: 25px;
    background: url('/image/icon/mn.png');
    background-size: cover;
}
.g-box5 .u-memo .t1 {
    color: #666;
    line-height: 24px;
    font-size: 12px;
}
.ifont-green {
    color: #00b500;
}
.g-box5 .u-memo .ibg2 {
    height: 25px;
    background: url('/image/icon/hs.png');
    background-size: cover;
}
.g-box5 .u-memo .t1 {
    color: #666;
    line-height: 24px;
    font-size: 12px;
}
.g-box5 .u-memo .ibg3 {
    width: 27px;
    height: 23px;
    margin-right: 16px;
    background: url('/image/icon/cr.png');
    background-size: cover;
}
.g-box5 .u-memo .icon-m {
    width: 25px;
    height: 25px;
    margin-right: 20px;
}
.m-ziliao .u-tit {
    padding-top: 20px;
    font-size: 14px;
    color: #666;
    line-height: 30px;
}
h1, h2, h3, h4, h5, h6, p, strong, ul {
    padding: 0;
    margin: 0;
    font-style: normal;
    font-weight: 400;
}
.m-ziliao {
    margin: 0 auto;
    background: #f8f7f4;
    padding: 0 14px 20px;
    line-height: 19px;
    font-size: 13px;
    position: relative;
}
.m-ziliao+.m-ziliao:before {
    content: "";
    border-bottom: 1px solid #efefef;
    display: block;
    margin: 0 14px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
}
.m-ziliao .u-tit {
    padding-top: 20px;
    font-size: 14px;
    color: #666;
    line-height: 30px;
}
.g-box5 .u-memo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 20px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
}
.g-box5 .u-memo .ibg4 {
    -ms-flex-preferred-size: unset;
    flex-basis: unset;
    width: 25px;
    height: 25px;
    margin-right: 16px;
    background: url('/image/icon/sa.png');

    background-size: cover;
}
.g-box5 .m-ziliao:last-of-type {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.m-ziliao+.m-ziliao:before {
    content: "";
    border-bottom: 1px solid #efefef;
    display: block;
    margin: 0 14px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
}
.m-ziliao .u-msg i {
    display: block;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    background: url('/image/icon/tips.jpg');
    background-size: 100% 100%;
}
.m-ziliao .u-msg p {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    color: #999;
    font-size: 12px;
}
i {
    font-style: italic;
}
.m-ziliao .u-msg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
    padding-bottom: 20px;
    padding-top: 20px;
}
.m-ziliao #check_promise, .m-ziliao .subMark-ld {
    color: #43ac43;
    text-decoration: underline;
    font-size: 13px;
}
.m-ziliao .subMark-ld {
    padding-top: 20px;
    margin-left: 10px;
    width: 60px;
}

.news_publicity_tab.g-box7 {
    width: 100%;
}
.news_publicity_tab.g-box7 .m-box7 {
    padding: 15px 0;
    background: #fff;
}
.h5ui-tab {
    background: #FFF;
    position: relative;
    width: 100%;
    display: block;
}
.h5ui-tab .tab-item {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}
.h5ui-tab .tab-item .active {
    position: relative;
    bottom: 0;
}
.h5ui-tab .tab-item li {
    display: table-cell;
    width: 1%;
    text-align: center;
    position: relative;
}
.news_publicity_tab.g-box7 .h5ui-tab .tab-item .active a {
    color: #00b500;
    line-height: 40px;
}
.news_publicity_tab.g-box7 .h5ui-tab .tab-item a {
    padding: 6px 0;
}
.news_publicity_tab.g-box7 .h5ui-tab .tab-item a {
    display: block;
    font-size: 18px;
    color: #333;
    border-bottom: 0 solid #43ac43;
    position: relative;
    font-weight: 700;
}
.h5ui-tab .tab-item li {
    display: table-cell;
    width: 1%;
    text-align: center;
    position: relative;
}
li {
    list-style: none;
}
.news_publicity_tab.g-box7 .h5ui-tab .tab-item a {
    padding: 6px 0;
}
.news_publicity_tab.g-box7 .h5ui-tab .tab-item a span {
    padding-left: 5px;
}
.news_publicity_tab.g-box7 .h5ui-tab:after {
    content: "";
    display: block;
    border-bottom: 1px solid #e5e5e5;
    width: 200%;
    -webkit-transform: scale(.5) translate(-50%);
    transform: scale(.5) translate(-50%);
}
.news_publicity_tab.g-box7 .m-box7 .tab-content {
    width: 92%;
    margin: 0 auto;
}
.h5ui-bar, .tab-content>.active {
    display: block;
}
.comment-box {
    position: relative;
}
.comment-box .commentlist {
    position: relative;
    margin-top: 18px;
    padding-top: 40px;
}
.comment-box .commentlist .citem:first-child {
    margin-top: -40px;
}
.comment-box .commentlist .citem {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 30px;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.comment-box .commentlist .phead {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 100%;
}

.comment-box .commentlist .phead img {
    border-radius: 100%;
}
body img {
    width: 100%;
}
img {
    border: 0;
}
.comment-box .commentlist .cominfo {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.comment-box .commentlist .cominfo {
    line-height: 19px;
    font-size: 16px;
}
.comment-box .commentlist .cominfo h6 a {
    color: #4284b6;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.comment-box .commentlist .cominfo .u-photolist {
    margin-top: 10px;
}
.clearfix:after, .clearfix:before {
    content: "";
    display: table;
}
.flist li {
    float: left;
    width: 23.5%;
    margin-right: 2%;
}

.comment-box .commentlist .citme {
    position: relative;
    padding-top: 10px;
    font-size: 12px;
    color: #999;
}
#all_news.u-more, #all_publicity.u-more {
    display: none;
    position: absolute;
    bottom: -25px;
    width: 100%;
    margin: 20px auto 0;
    text-align: center;
    background-color: #fff;
    font-size: 14px;
    color: #00b500;
    letter-spacing: .6px;
    line-height: 15px;
}
#all_news.u-more:before, #all_publicity.u-more:before {
    position: absolute;
    left: 0;
    right: 0;
    top: -45px;
    content: "";
    height: 45px;
    background-image: linear-gradient(-180deg,hsla(0,0%,100%,0),#fff);
    text-align: center;
}
#all_news.u-more span, #all_publicity.u-more span {
    display: inline-block;
    line-height: 25px;
    border-radius: 13px;
    background: rgba(0,181,0,.1);
    color: #00b500;
    padding: 0 10px;
}
#all_news.u-more span:after, #all_publicity.u-more span:after {
    content: "";
    display: inline-block;
    margin-left: 8px;
    width: 8px;
    height: 8px;
    border-top: 1px solid #43ac43;
    border-left: 1px solid #43ac43;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    vertical-align: 2px;
}
.clearfix:after, header.h5ui-bar:after {
    clear: both;
}

.h5ui-upload-imgs, .proof-upload, a {
    text-decoration: none;
}
.comment-box .commentlist .cominfo h6 {
    padding-bottom: 10px;
    color: #333;
    font-size: 16px;
    padding-top: 5px;
    position: relative;
    line-height: 20px;
}
.help-box {
    background: #fff;
    position: relative;
}
.help-box .g-help {
    background-color: #fff;
}
.help-box .m-help {
    width: 91%;
    margin: 0 auto;
}
.help-box .m-help .help-bh {
    font-size: 21px;
    color: #333;
    line-height: 60px;
    font-weight: 700;
}
.help-box .m-help .help-bh span {
    padding: 0;
    font-weight: 700;
    display: inline-block;
}
.box-ranking .u-rank {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 0 20px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.box-ranking .u-rank h6 {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 16px;
    color: #333;
}
.box-ranking .u-rank h6:before {
    display: inline-block;
    content: "";
    width: 15px;
    height: 16px;
    background: url('/image/icon/rk.png');
    background-size: cover;
    position: relative;
    top: 2px;
}

.box-ranking .u-rank .u-corwn {
    display: block;
    text-align: right;
    font-size: 0;
}
.corwn-wrap00 .corwn {
    border: 2px solid #ebcf43;
}
.corwn-wrap .corwn {
    width: 30px;
    height: 30px;
    overflow: hidden;
}

.box-ranking .u-rank .rank-head {
    width: 30px;
    height: 30px;
    background: #f8f7f4;
    border-radius: 50%;
    padding: 1px;
}
.box-ranking .u-rank i {
    width: 7px;
    height: 12px;
    display: inline-block;
    font-size: 0;
    border-top: 2px solid rgba(0,0,0,.2);
    border-left: 2px solid rgba(0,0,0,.2);
    width: 8px;
    height: 8px;
    background-color: transparent;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    width: 11px;
    height: 11px;
    border-top: 2px solid #00b500;
    border-left: 2px solid #00b500;
    margin: 9px 0 0 6px;
}
.box-ranking .u-rank h6 span {
    padding-left: 10px;
}
.corwn-wrap, .corwn-wrap .corwn {
    display: inline-block;
    border-radius: 999px;
}
.corwn-wrap00, .corwn-wrap01, .corwn-wrap02 {
    position: relative;
}

.corwn-wrap00:after, .corwn-wrap01:after, .corwn-wrap02:after {
    position: absolute;
    content: "";
    width: 13px;
    height: 10px;
    top: -6px;
    left: -1px;
}
.corwn-wrap00:after {
    background: url('/image/icon/go.png');
    background-size: 100%;
}
.corwn-wrap01:after {
    background: url('/image/icon/si.png');
    background-size: 100%;
}
.corwn-wrap02:after {
    background: url('/image/icon/cu.png');
    background-size: 100%;
}
.corwn-wrap {
    position: relative;
    margin-right: 10px;
}

.help-box .m-help .help-bd-2 .commentlist .citem {
    margin-bottom: 45px;
}
.comment-box .commentlist .citem {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 30px;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.help-box .m-help .help-bd-2 .commentlist .phead {
    width: 45px;
    height: 45px;
    margin-bottom: 20px;
    position: relative;
}
.comment-box .commentlist .phead {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 100%;
}
.help-box .m-help .help-bd-2 .commentlist .phead a {
    position: relative;
    display: block;
}
.help-box .m-help .help-bd-2 .commentlist .phead a img {
    display: block;
    width: 45px;
    height: 45px;
}
.comment-box .commentlist .phead img {
    border-radius: 100%;
}
.comment-box .commentlist .cominfo {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.comment-box .commentlist .cominfo {
    line-height: 19px;
    font-size: 16px;
}
.help-box .m-help .help-bd-2 .commentlist .cominfo h6 {
    padding-bottom: 3px;
}
.help-box .m-help .help-bd-2 .commentlist .cominfo .ctxt {
    padding-top: 15px;
    word-break: break-all;
}
.help-box .m-help .help-bd-2 .commentlist .citme {
    padding-top: 0;
}
.comment-box .commentlist .citme {
    position: relative;
    padding-top: 10px;
    font-size: 12px;
    color: #999;
}
.comment-box .commentlist .com2 {
    margin-top: 15px;
    padding: 10px;
    background: #f8f7f4;
    border-radius: 8px;
    position: relative;
}
.help-box .m-help .help-bd-2 .commentlist .cominfo h6 a {
    padding-right: 10px;
    word-break: break-all;
}
.help-box .m-help .help-bd-2 .first-line .left {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    max-width: 110px;
    display: block;
}
.comment-box .commentlist .cominfo h6 a {
    color: #4284b6;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.comment-box .commentlist .cominfo .added-love-point span {
    font-size: 13px;
    color: #999;
}
.comment-box .commentlist .cominfo .added-love-point em {
    font-style: normal;
    color: #ff788d;
    font-size: 14px;
    margin-left: 3px;
}
.comment-box .commentlist .cominfo .added-love-point em, .comment-box .commentlist .cominfo .added-love-point span {
    display: inline-block;
    vertical-align: middle;
}
small {
    font-size: 80%;
}
.help-box .m-help .help-bd-2 .first-line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.comment-box .commentlist .cominfo .added-love-point em:before {
    display: inline-block;
    content: "";
    width: 6px;
    height: 8px;
    margin-right: 3px;
    background: url('/image/icon/ar.png') 50% no-repeat;
    background-size: 100% 100%;
    vertical-align: 1px;
}
.comment-box .commentlist .cominfo h6 .zancontainer .zanicon {
    width: 30px;
    height: 18px;
    display: block;
    background: url('/image/icon/th.png') 50%/18px auto no-repeat;
}
.comment-box .commentlist .cominfo h6 .zancontainer {
    text-align: center;
    height: 40px;
    z-index: 1;
}
.comment-box .commentlist .cominfo h6 .b_btn_comment_zan {
    position: absolute;
    right: -7px;
    top: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.comment-box .commentlist .cominfo h6 .zancontainer .zantext {
    font-size: 11px;
    color: #999;
    display: block;
    clear: both;
    white-space: nowrap;
    margin-top: 7px;
}
.help-box .m-help .help-bd-2 .u-num {
    position: absolute;
    bottom: -16px;
    left: 0;
    width: 41px;
    height: 20px;
    line-height: 20px;
    background: url(/image/icon/ax.png);
    background-size: 100% 100%;
    color: #fff;
}
.help-box .m-help .help-bd-2 .u-num i {
    position: absolute;
    width: 44px;
    font-style: normal;
    line-height: 16px;
    height: 32px;
    font-size: 18px;
    right: 2px;
    top: 7px;
    margin-top: -10px;
    text-align: center;
    padding: 0;
    margin: 0;
    text-indent: 0;
    -webkit-transform: scale(.5);
    transform: scale(.5);
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
}

.projectRarseCustomer {
    position: fixed;
    left: 0;
    bottom: 0;
    background: #fff;
    box-shadow: 0 -2px 12px rgba(0,0,0,.1);
    width: 100%;
    z-index: 1000;
}

.projectRarseCustomer {
    z-index: 1001;
}
.projectRarseCustomer .anotherTips {
    position: absolute;
    left: 0;
    top: -43px;
    font-size: 13px;
    line-height: 23px;
    color: #fff;
    background: rgba(246,68,50,.9);
    border-radius: 17px 17px 4px 17px;
    padding: 5px 15px;
    margin: 0 15px;
    white-space: nowrap;
    display: none;
}
.projectRarseCustomer .footer-bottom {
    height: 68px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.projectRarseCustomer .footer-bottom .share-btn {
    height: 46px;
    font-size: 12px;
    padding: 0 10px 0 25px;
    color: #999;
    line-height: 1;
    text-align: center;
    display: block;
}
.projectRarseCustomer .footer-bottom .btn-box {
    padding: 0 15px;
    height: 44px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.projectRarseCustomer .footer-bottom .btn-box .yellow-btn {
    line-height: 44px;
    color: #fff;
    display: block;
    font-size: 18px;
    font-weight: 700;
    background: linear-gradient(90deg,#ffd024,#ffa410);
    border-radius: 22px;
    text-align: center;
}
.projectRarseCustomer .footer-bottom .share-btn:before {
    content: "";
    display: block;
    margin: 0 auto 2px;
    width: 30px;
    height: 30px;
    background: url(https://static2.qschou.com/img/v7/project/detail/sick/share_99c3bbcb.png) 50%/100% 100% no-repeat;
}