<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>轻松筹</title>
	<meta property="wb:webmaster" content="26f01d0b94394447">
	<meta property="qc:admins" content="2541756431167376730756375">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="format-detection" content="telephone=no">



	<link rel="stylesheet" href="/css/common.css">
	<link rel="stylesheet" href="/css/raise.css">


</head>

<body>

<div id="app">
	<header class="g-header g-header_v2" style="position: absolute;">
		<div id="headerAdReplace"></div>
		<div class="m-header m-header-hot"><a id="qscLogo" href="javascript:void (0)"  class="qsclogo">
			<img src="/image/logo.png"></a></div>
	</header>


	<div class="main-cont" style="padding-bottom: 68px;">
		<div class="project-active J-project-active" style="display: block;">
			<section class="section">
				<div id="baseDiv">
					<header class="g-box1">
						<div class="m-top1">
							<div class="u-name">
								<div class="photo-name-box"><img class="lazy-load"
																								 v-bind:src="detail.portrait">
									<span>{{ detail.username }}</span></div>
								<div class="tags">
									<div class="u-subMark"> 个人求助</div>
								</div>
							</div>
						</div>
					</header>
					<header class="g-box1"><h1 class="fmargT"> {{ detail.title }} </h1>
						<div id="textaudio1" style="margin-top: 10px;display: none;"></div>
					</header>
					<section class="g-box2 box2 fmargT J-hot_process">
						<ul class="moneylist">
							<li><span>急需筹款(元)</span> <strong>{{ detail.need_amount }}</strong></li>
							<li><span>已筹金额(元)</span> <strong>{{ detail.attain_amount }}</strong></li>
							<li><span>帮助次数(次)</span> <strong>{{ detail.collect_count }}</strong></li>
						</ul>
					</section>
				</div>
			</section>         <!-- 自然发起项目爱心鼓励金卡片 -->
			<div id="naturePublish_loveReward"></div>         <!-- 自然发起项目爱心鼓励金卡片 -->
			<div id="infoDiv">
				<section class="info_b">
					<article>
						<header>求助说明</header>
						<section class="m-txt">
							<div class="u-txt J-project-intro"  v-bind:class="[more_intro ? '' : 'folded']">
								{{ detail.introduction }}
							</div>
							<div id="go_more" v-on:click="more_intro = true" class="u-more J-view-more-intro dtstrackclick" data-dta="Unfold"
									 v-bind:style="{ display:more_intro ?'none':'block'}">
								<span>展开全文</span></div>


							<div id="sendlove-rectangle" class="sendlove-rectangle dtstrackclick" data-dta="sendlove-rectangle" style="padding-top: 20px"
									 v-bind:style="{ display:more_intro ?'block':'none'}">
								<div  v-on:click="toDonate" class="h5ui-btn send-rec-btn h5ui-btn_green_shadow  fmarT20">
									<span class="sendlove-icon"></span>帮他渡过难关
								</div>
							</div>
						</section>
					</article>
				</section>


				<div id="helpPayReplaceDiv"></div>
				<section class="projectImg_b">
					<article>
						<section class="m-list J-project-img-list">
							<ul class="clearfix">
								<li v-for="image in detail.image_list">

									<a href="javascript:void (0)" class="fancybox" rel="fancybox" data-group_id="jdt">
									<img class="lazy-load"  v-bind:src="image" v-on:click="previewImgInfo(image)" alt=""> </a>

								</li>
							</ul>
						</section>
					</article>
				</section>
			</div>
			<div id="PiccCooperateVueReplaceDiv">             <!-- 血之源也在这里 -->         </div>
			<section class="section sectionT">
				<article class="fmarB30 g-box6 box2">
					<header class="ifont-hui">已有<span class="cgreen">{{detail.prove_count}}</span>人证明情况属实</header>
					<section>
						<ul class="zslist ">
							<li  v-for="prove in detail.prove_lists" class="active  J-prove-avatar"><a href="javascript:;">
								<img class="lazy-load" v-bind:src="prove.portrait"></a>
							</li>
							<li><a id="go_more_prove" class="go_more" href="javascript:;"> </a></li>
						</ul>
					</section>
					<section  v-for="(prove, index) in detail.prove_lists" v-if="index == 0" class="m-say">
						<div  class="prove_content t1 active" role="tabpanel" id="tab0">
							<div class="prove_header">
								<strong class="prove_preson">{{prove.real_name}}</strong>
								<span class="prove_relationg">{{prove.relation}}</span>
								<span class="prove_realname">已实名</span></div>
							<p class=" J-prove-msg">{{prove.introduce}}</p>
						</div>
					</section>
				</article>
			</section>
			<section class="section sectionT">
				<div class="u-content">
					<div class="u-icons"><span class="tencent"></span><span>|</span> <span class="idg"></span><span>|</span> <span
							class="dt"></span></div>
					<div class="u-tips">顶级资本保障，全球 6 亿用户信赖的救助平台</div>
				</div>
			</section>
			<section class="section sectionT">
				<section class="g-box5 verify">                 <!-- 证明材料 -->
					<header class="zlzm">资料证明     <!--（调试用：volunteer_allow:  verify_state:10  is_manager:false）-->
						<div class="subMark J-compensation-in-advance dtstrackclick" id="go_prove" data-dta="InAdvancePay">
							<!-- <i class="peifu-icon"></i> --><a href="javascript:;">先行赔付</a></div>
					</header>                <!-- 主态的非-1情况 及客态的10情况 -->
					<section class="m-ziliao b_ziliao"><!-- 全部通过为10，主客体都在这里，是因为收款人可能是个人、医院、红十字机构 -->
						<div class="item style10"><h6 class="u-tit">患者：{{detail.patient}}</h6>
							<p class="u-smal"><span class="u-smal-item"><span class="fright"></span><span>身份证明已审核</span></span></p>
						</div><!-- 全部通过为10，主客体都在这里，是因为收款人可能是个人、医院、红十字机构 -->
						<div class="item style10"><h6 class="u-tit">所患疾病：{{detail.sickness}}</h6>
							<p class="u-smal"><span class="u-smal-item"><span class="fright"></span><span>诊断证明已审核</span></span> <span
									class="u-smal-item"><span class="fright"></span><span>诊断医院：{{detail.prove_hospital}}</span></span></p></div>
						<!-- 全部通过为10，主客体都在这里，是因为收款人可能是个人、医院、红十字机构 -->
						<div class="item style10"><h6 class="u-tit">收款人：{{detail.payee}}</h6>
							<p class="u-smal"><span class="u-smal-item"><span class="fright"></span><span>身份证明已审核</span></span> <span
									class="u-smal-item"><span class="fright"></span><span>关系证明已审核</span></span></p></div>
					</section>                             <!-- 增信补充说明及发起人承诺书 -->                 <!-- 增信补充说明及发起人承诺书 -->
					<section class="m-ziliao"><h6 class="u-tit zengxin">增信补充说明</h6>
						<div class="u-memo">
							<div class="icon-m ibg1"></div>
							<div class="txt"><p class="t1">家庭经济收入状况</p>
								<p class="ifont-green"> 年收入:{{detail.annual_income}}万 / 金融资产:{{detail.financial_assets}}万 </p></div>
						</div>
						<div class="u-memo">
							<div class="icon-m ibg2"></div>
							<div class="txt"><p class="t1">家庭房屋财产状况</p>
								<p class="ifont-green"> 数量:{{detail.house_count}} / 价值:{{detail.house_value}}万 / 状态:{{detail.house_status}} </p></div>
						</div>
						<div class="u-memo">
							<div class="icon-m ibg3"></div>
							<div class="txt"><p class="t1">家庭车辆财产状况</p>
								<p class="ifont-green"> 无 </p></div>
						</div>                                        <!-- 如果有保险 --><!-- 选择了其他险种 -->
						<div class="u-memo">
							<div class="icon-m ibg4"></div>
							<div class="txt"><p class="t1">保险状况</p>
								<p class="ifont-green"> {{detail.health_care}} </p></div>
						</div>
					</section>
					<section class="m-ziliao">
						<div class="u-msg"><i></i>
							<p>该项目信息不属于慈善公开募捐信息，真实性由信息发布个人负责，轻松筹提示您了解项目后再帮助Ta</p></div>
						<div><a id="check_promise" href="javascript:;" class="t2 ifont-green J-chengnuoshu dtstrackclick"
										data-dta="lookPromise">发起人承诺书</a> <a
								href="/v8/project/manage/report.html?uuid=5006e81c-78e8-4c6a-bf8c-798a3b95e63d&amp;from=Report&amp;cc=20001.v7_2.Report"
								class="subMark-ld" id="qsc-btn-report">举报/质疑</a></div>
					</section>
				</section>
			</section>
			<section class="g-box7 news_publicity_tab section sectionT">
				<div class="m-box7">
					<div class="tab J-tab">
						<div class="h5ui-tab ">
							<ul class="tab-item">
								<li class="active"><a id="fund_news" href="#news" class="dtstrackclick" data-dta="sickTrends">筹款动态<span>({{detail.collect_dynamic ? detail.collect_dynamic.length: 0}})</span></a>
								</li>
								<li><a id="fund_public" href="#publicity" class="dtstrackclick"
											 data-dta="fundsPublic">资金公示<span>(0)</span></a></li>
							</ul>
						</div>
						<div class="tab-content">
							<div id="news" class="tab-pane active">
								<div class="comment-box">                         <!-- 动态列表 -->
									<ul class="commentlist news">
										<li v-for="(dynamic, index) in detail.collect_dynamic"  v-bind:style="{ display: !more_dynamic && index > 0  ? 'none'  : 'block' }"  class="citem J-news-item" data-topicid="8778540">
											<div class="phead"><a href="javascript:;"><img class="lazy-load"
																																		 v-bind:src="detail.portrait"></a>
											</div>
											<div class="cominfo"><h6><a href="javascript:;">{{detail.username}}</a></h6>
												<p class="ctxt"><span style="color:#666">{{dynamic.title}}</span> <br></p>
												<ul class="u-photolist flist clearfix">
													<li v-for="image in dynamic.image_list"><a class="fancybox" rel="fancybox" data-group_id="feed8778540">
														<img class="lazy-load"  v-bind:src="image" width="25%" alt=""> </a>
													</li>
												</ul>
												<div class="citme"> {{dynamic.pre_day}} <span style="color:#43AC43">项目更新</span></div>
											</div>
										</li>
										<div id="all_news"  v-on:click="more_dynamic = true" class="u-more J-btn-get-more-news dtstrackclick" data-dta="ViewAllDynamic"
												 v-bind:style="{ display:more_dynamic ?'none' : 'block'}"	>
											<span>查看全部 {{detail.collect_dynamic ? detail.collect_dynamic.length: 0}}条</span></div>
									</ul> <!-- ／动态列表 -->
								</div>
							</div>
							<div id="publicity" class="tab-pane capital">
								<div id="publicityReplaceDiv">
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
		<div class="project-closed J-project-closed">
			<div class="m-close">项目已关闭</div>
			<div class="m-down"></div>
		</div>                 <!-- 他的帮助 -->
		<section class="section sectionT" style="margin-bottom: 0">
			<section class="b_support">      <!-- TA的帮助 -->
				<article class="help-box support">
					<section class="g-help">
						<div class="m-help">
							<header class="help-bh"><span class="ifont-green">{{detail.person_count}}</span>人帮助过</header>
							<section class="box-ranking"><a id="wrap_love_list_arrow" href="javascript:;">
								<div class="u-rank"><h6><span>爱心贡献榜</span></h6>
									<p id="love_list" class="u-corwn">
										<span v-for="rank in detail.rank_user"   class="corwn-wrap" v-bind:class="rank.class" href="javascript:;">   <img
											class="lazy-load corwn"
											v-bind:src="rank.portrait"> </span>
									</p>
									<p id="love_list_arrow" class="rank-head J-ranking-list"><i class="fjiantou"></i></p></div>
							</a></section>
							<div class="fborder"></div>
							<section class="help-bd-2 comment-box" >
								<ul class="commentlist J-support-list">                         <!-- TA的帮助中的帮助列表 -->
									<li  v-for="order in order.list" class="citem J-support-item " data-orderid="1190836289">
										<div class="phead"><a id="goSupportList" href="javascript:;"
																					data-uuid="e62902eb-832d-4848-8880-818361ac3015"> <img class="lazy-load" v-bind:src="order.portrait"></a>
											<span class="u-num"><i>{{order.total_ax}}</i></span></div>
										<div class="cominfo">
											<h6 class="ifont-hui">
												<div class="first-line"><a class="left" href="javascript:;">{{order.user_name}}</a>
													<div class="right">
														<div class="added-love-point"><span>爱心值</span><em>{{order.order_ax}}</em></div>
													</div>
												</div>
												<div><small>支持了 </small><small style="color:#F25B4B">{{order.amount}}</small></div>
												<div class="b_btn_comment_zan">                                                   <!-- 非主态可以点赞 -->
													<div class="zancontainer  J-zan-btn" data-orderid="1190836289"
															 data-userid="e62902eb-832d-4848-8880-818361ac3015"><span class="zanicon"></span> <span
															class="zantext">                                                  赞                                              </span>
													</div>
												</div>
											</h6>
											<p class="ctxt message">{{order.encourage}}</p>
											<div class="citme"> {{order.pre_day}}</div>
											<div class="com2 J-comments" style=" display: none ;"><span class="s-sanjiao"></span></div>
										</div>
									</li><!-- TA的帮助中的帮助列表 -->
								</ul>
								<p style="text-align: center;color: #666;padding:10px 0;font-size: 14px;">已到底部</p>
							</section>
						</div>
					</section>
				</article>
			</section>
		</section>
		<div class="qsc-logo-mark"><a
				href="//mp.weixin.qq.com/s?__biz=MzA3NTA1NDE2Ng==&amp;mid=201655378&amp;idx=1&amp;sn=806cd4636c2c29efd8c059ab7c8aa37a#rd"></a>
		</div>
	</div>
	<footer class="projectRarseCustomer J-footer">
		<div class="anotherTips J-anotherTips"> 紧急求助！治病救命不能等，伸出援手帮助患者</div>
		<div class="footer-bottom">
			<a class="share-btn J-btn-share J-btn-share-maidian dtstrackclick" v-on:click="show_share=true" data-dta="V1_2shareto_b"
																	href="javascript:;">1038</a>
			<div class="btn-box"><a class="yellow-btn J-go-pay dtstrackclick" v-on:click="toDonate" >我要帮帮他</a></div>
		</div>
	</footer>
	<div class="qsc-modal modal-share mod-share-new" id="mod-sick-share" tabindex="-1" aria-hidden="false"
			 v-bind:style="{ display:show_share ? 'block' : 'none'}">
		<a href="javascript:void(0);" v-on:click="show_share=false"  class="modal-share-btn-close"
			 name="H5_Btn_Pop_WA_DetailedShare_Close"></a>
		<div class="pop-share-wrap">
			<div class="modal-share-wechat-desc" style="line-height: 60px;"> 点击右上角<span id="modal-share-wechat-icon"
																																									class="modal-share-wechat-icon"></span>
			</div>
			<p style="font-size:18px;font-weight:700;color:#fff;line-height:60px;text-align: center;">帮他<span
					style="color: #ffc900">转发</span>一下，能帮他更快筹到治病钱<br> 一次转发，一份功德</p></div>
		<!-- <div class="pop-other-share-wrap">         <div class="other-share-title">其他分享</div>         <ul>             <li class="share-qrcode">                 <i></i>                 二维码             </li>             <li class="share-qq">                 <i></i>                 QQ             </li>             <li class="share-qq-zone">                 <i></i>                 QQ空间             </li>         </ul>     </div> -->
	</div>


</div>


<script src="https://cdn.bootcss.com/vue/2.6.9/vue.min.js"></script>
<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/js-cookie/2.2.1/js.cookie.min.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.4.0.js"></script>



<script>
	const app = new Vue({
		el: '#app',
		data: {
			detail: {},
			more_intro: false,
			more_dynamic: false,
      show_share: false,
			project_id: 0,
			order: {
				list: [],
				lastId: 0,
				hasNext: false
			},
			wx_url: ''
		},
		methods : {
			 getBaseData () {
				 this.project_id = this.getRequest('id')
				 const _this = this
         $.get('api/project?id=' + this.project_id, function (res) {
           _this.detail = res.data
         });
				 this.moreOrder()
				 this.wxCodeUrl()
				 if(this.isWxClient()) {
					 this.wxInit()
				 }
			},
			wxInit () {
        $.get('api/wechat/shareParam?url=' + location.href, function (res) {
          wx.config (res.data);
        });
        const _this = this
        wx.ready(function () {   //需在用户可能点击分享按钮前就先调用
          wx.updateAppMessageShareData({
            title: _this.detail.title, // 分享标题
            desc: _this.detail.introduction.substr(0, 100), // 分享描述
            link: location.href, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
            imgUrl: location.origin +  _this.detail.image_list[0], // 分享图标
            success: function(res) {
              console.log(res)
            }
          })
          wx.updateTimelineShareData({
            title: _this.detail.title, // 分享标题
            link: location.href, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
            imgUrl: location.origin +  _this.detail.image_list[0], // 分享图标
            success: function(res) {
								console.log(res)
            }
          })
        });
        wx.error(function(res){
						console.log(res)
        });
			},
			isWxClient(){
        const ua = window.navigator.userAgent.toLowerCase();
        if(ua.match(/MicroMessenger/i) == "micromessenger") {
          return true;
        } else {
          return false;
        }
  		},
			moreOrder () {
			  const _this = this
        $.get('api/project/order?id=' + this.project_id + '&lastId=' + this.order.lastId, function (res) {
          if(res.code === 0) {
            _this.order.list = _this.order.list.concat(res.data.list)
            _this.order.lastId = res.data.lastId
            _this.order.hasNext = res.data.hasNext
          }
        });
			},
			wxCodeUrl () {
        const _this = this
        $.get('api/wechat/getWxUrl?id=' + this.project_id, function (res) {
          _this.wx_url = res.data;
        });
			},
			toDonate () {
			  const token = Cookies.get('tokenAuth')
				if( token === undefined ||  token.length !== 32) {
					window.location.href = this.wx_url;
				} else {
					window.location.href = '/pay.html?id=' + this.getRequest('id');
				}
			},
			getRequest(key) {
				const url = location.href;
				const theRequest = new Object();
				const idx = url.indexOf("?")
				if (idx !== -1)
				{
					var str = url.substr(idx + 1);
					strs = str.split("&");
					for (var i = 0; i < strs.length; i++)
					{
						theRequest[strs[i].split("=")[0]] = unescape(strs[i].split("=")[1]);
					}
				}
				return theRequest[key];
			},
			handleScroll() {
				//变量scrollTop是滚动条滚动时，距离顶部的距离
				let scrollTop =
						document.documentElement.scrollTop || document.body.scrollTop; //变量windowHeight是可视区的高度
				let windowHeight =
						document.documentElement.clientHeight || document.body.clientHeight; //变量scrollHeight是滚动条的总高度
				let scrollHeight =
						document.documentElement.scrollHeight || document.body.scrollHeight; //滚动条到底部的条件
				if (scrollTop + windowHeight === scrollHeight && this.order.hasNext) {
					this.moreOrder()
				}
			},
      previewImgInfo (curUrl) {
				let urls = [];
        for (let i = 0; i < this.detail.image_list.length; i++) {
          urls.push(location.origin + this.detail.image_list[i])
				}
        if(this.isWxClient()) {
          wx.previewImage({
            current: location.origin + curUrl, // 当前显示图片的http链接
            urls: urls // 需要预览的图片http链接列表
          });
				}
      }
		},
		created () {
			this.getBaseData()
		},
		mounted () {
			window.addEventListener('scroll', this.handleScroll)
		}
	}).$mount('#app');








</script>
</body>
</html>


